title{
    color: chartreuse;
    background-color: chocolate;
}
p{
    color: coral;
}

div a {
    color: #000;
    background-color: coral;
}
h2{
    color: cornflowerblue;
}
ul li{
    color: green;
    background-color: crimson;
}


